  GNU nano 7.2                                                                    traefik.htpasswd                                                                              
admin:$2y$05$WNm4YPbqusQfh6Zh3Zhn0.Jo.sz8uaG/WAIiSLxDfioNX.lcAz52u
